<template id="__footer">
    <div class="folder">
        <p style="text-align:center;">
            <a href="https://github.com/IKende/AdminUI" target="_blank">BeetleX.AdminUI</a> copyright © 2020 <a href="http://beetlex.io" target="_blank">beetlex.io</a>
            email: admin@beetlex.io <a href="https://github.com/ikende" target="_blank">github.com</a>
        </p>
    </div>
</template>
<script>
    Vue.component('page_footer', {
        data: function () {
            return {
            }
        },
        template: __footer,
    })
</script>