<template id="__models_home">
    <div>
        <div>
            <div style="text-align:center">
                <br />
                <h3>BeetleX.AdminUI是基于Beetlex+Vuejs+Bootstrap相结合的后台管理框架</h3>
                <br />
                <h4>Donation(捐赠)</h4>
                <a href="#" class="btn">
                    <h4 class="list-group-item-heading">Alipay(支付宝)</h4>
                    <p class="list-group-item-text">  <img style="width:100px" src="/images/alipay.png" /></p>
                </a>
                <a href="https://www.paypal.me/henryfancn?locale.x=zh_XC" class="btn" target="_blank">
                    <h4 class="list-group-item-heading">Paypal(贝宝)</h4>
                    <p class="list-group-item-text">paypal.me/henryfan</p>
                </a>
                <a href="#" class="btn">
                    <h4 class="list-group-item-heading">Wechat(微信)</h4>
                    <p class="list-group-item-text">    <img style="width:100px" src="/images/wechatpay.png" /></p>
                </a>
            </div>
        </div>
    </div>
</template>
<script>
    Vue.component('models_home', {
        data: function () {
            return {
               
            }
        },
        methods: {
          
        },
        template: __models_home,
    })
</script>